@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Slabo+27px');

body {
    font-family: 'Roboto', sans-serif;
    color: black;
    background-color: #fefefe;
    /*margin-top: 1em;*/
/*    border: solid black 2px; */    
    left: 0;
    margin:0;
    height: 768px;
    width:100%;
}

h1{
    font-family: 'Open Sans', sans-serif;
    padding-top: 1.5em;
    padding-bottom: 0em;
    text-align: center;
}

h3{
    font-family: 'Open Sans', sans-serif;
    padding-top: 0;
    text-align: center;
    color:gray;
}

#content{
    background-image: url("profile.JPG");
    height:450px;
}

#project{
    height:40em;
    width:100%;
    left: 0;
    top:0;
    right:0;
    padding:0;
    margin: 0;
    background-color: #cef4ff;
    float:left;

}

.poems{
    float: left;
    width: 45%;
    margin-left: 2em;
    padding: 10px;
    box-sizing: border-box;
}

#navbar{
    position: fixed;
    top:0;
    left: 0;
    width:100%;
    height: 3em;
    z-index: 999;
    background-color: white;
    overflow: hidden;
}

#navbar a{
    display: inline;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20em;
    padding-bottom: 20em;
    /*width:10%;*/
    text-decoration: none;
}

li{
    float: left;
    height: 3em;
    padding-top:1em;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.red:hover{
    background-color: red;
    color: black;
}
.orange:hover{
    background-color: orange;
    color:black;

}
.yellow:hover{
    background-color: #fcdf5d;
    color:black;
}
.green:hover{
    background-color: #5be567;
    color:black;

}
.blue:hover{
    background-color: #3251ef;
    color:black;
}
.purple:hover{
    background-color: #9b56ef;
    color:black;
}
/*#navbar > ul > li ::after {
	content: ".";
	width: 0;
	/*background-color: red; */
